body {
  background: #E0CDE0;
}

a{
  color: #71137A;
}

.App{
  max-width:960px;
  margin: 0 auto;
}



.App-header{
  margin:30px 0;
  font-size: 60px;
  font-weight: bold;
  color:#71137A;
  

  
}

.App-footer{
  text-align: center;
  margin: 30px 0;
  
}

.App-footer a{
  text-decoration: none;
}

.App-footer a:hover{
  color: white;
}