.Dictionary h2{
font-style: italic;
}

.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px;
}

.Dictionary input {
  width: 100%;
  padding: 6px;
  border-radius: 6px 10px;
  color:#333;
  border: 1px solid #ddd;

}

.Dictionary .hint{

  font-size: 15px;
  margin-top: 5px;
}